@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
:root {
  --spacing: 0.5rem;
  --spacing-big: 1rem;
  --max-width: calc(100% - var(--spacing-big));
  --primary-color: #333;
  --secondary-color: #eee;
  --highlight-color: #00af0f;
  --shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  --medium: 0.35s;
  --long: 0.75s;
  --tab-animation: cubic-bezier(0.5, 1.5, 0.4, 0.7);
}
body {
  max-width: 35rem;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}
ul {
	margin: 0;
	padding-left: var(--spacing-big);
}
button {
  border: 1px solid black;
  padding: var(--spacing);
  background-color: var(--secondary-color);
  width: 100%;
}

a{
	color: var(--highlight-color);
	text-decoration: none;
}
.main-header {
  margin: 0 var(--spacing) var(--spacing-big);
  box-shadow: var(--shadow);
  display: grid;
  align-items: center;
}
.main-title {
  font-size: 1rem;
	display: inline-block;
	margin-bottom: var(--spacing);
	padding: var(--spacing);
	text-align: right;
}

.heading {
  display: block;  
  padding: var(--spacing);
	background-color: var(--secondary-color);
	margin-bottom: var(--spacing);
}
.heading strong {
  font-size: 0.85rem;
  margin-right: 0.5rem;
  display: block;
}
.article{
	margin-top: var(--spacing);
	margin-left: var(--spacing);
	margin-right: var(--spacing);
	margin-bottom: var(--spacing-big);
}
.article .small{
	font-size: .85rem;
}

@media (min-width: 768px) {
	.main-title{
		grid-template-columns: repeat(2, 1fr);
	}
  body {
    max-width: 75rem;
  }
  .heading strong {
    display: inline;
  }
}
